*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;
}


header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/bag.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;


}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.main-nav{
	float: right;
	margin-top: 60px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 30px;
}
.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;

}
.main-containt-header{
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	color: #fff;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	font-weight: lighter;
}


.colorchange{
	animation: colorchangegarment 1s infinite;
}
@keyframes colorchangegarment{
	0%{color: red;}
	25%{color: #bf55ec}
	50%{color: white;}
	100%{color: #bf55ec}
}
div.IMAGE{
	padding: 5px;
	margin: 20px;
	border: 2px solid black;
	float: left;
	width: 320px
}
div.IMAGE:hover{
	border: 5px solid red;
}

div.IMAGE img{
	width: 100%
	height:auto;
}
/*////////Responsive queries////////*/
@media only screen and (max-width: 1180px){
	.main-containt-header{
		width:100%;
		padding: 0 2%;
	}

}

@media only screen and (max-width: 998px){
	h1{font-size: 200%;}
}
@media only screen and (max-width: 768px){
	h1{font-size: 180%;}
}
